
@keyframes imgAppears {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.3;
    }
}


@keyframes contentAppears {
    from {
        transform: translateX(-10px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

// @keyframes svgDisappears {
//     from {
//         opacity: 1;
//     }
//     to {
//         opacity: 0;
//     }
// }
