$color_primary: #121C27;
$color_secondary: #C2B887;
$color_tertiary: #1A2237;
$transparent_tertiary: rgba(26, 34, 55, 0.75);
$transparent_blue: rgba(18, 28, 39, 0.75);
$transparent_beige: rgba(194, 184, 135, 0.5);
